@import "tailwindcss";

:root {
  --header-height: 120px;
  --accent-color: #7c6a46;
  --background: #ffffff;
  --foreground: #1c1c1c;
}

@theme inline {
  --spacing-header: var(--header-height);
  --spacing-main: calc(100vh - var(--spacing-header));
  --color-accent: var(--accent-color);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-raleway);
  --font-script: var(--font-dancing-script);
}

@utility container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 16px;
}
