@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-raleway);
  --font-script: var(--font-dancing-script);
}

body {
  background: var(--background);
  color: var(--foreground);
}
