@import "tailwindcss";

:root {
  --accent-color: #7c6a46;
  --background: #ffffff;
  --foreground: #1c1c1c;
}

@theme inline {
  --color-accent: var(--accent-color);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-raleway);
  --font-script: var(--font-dancing-script);
}

@utility container {
  @apply max-w-7xl mx-auto px-5 md:px-4;
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

@utility quoted {
  display: inline-block;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &::before {
    position: absolute;
    left: 0;
    top: -10px;
    background-image: url("/quote.svg");
  }

  &::after {
    display: inline-block;
    transform: rotate(180deg) translateY(-2px);
    background-image: url("/quote.svg");
  }
}
